@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* custom color */
:root {
  --Orange: hsl(26, 100%, 55%);
  --paleorange: hsl(25, 100%, 94%);
}
* {
  font-family: "Kumbh Sans", sans-serif;
}
.nav-img:hover {
  border: 2px solid var(--Orange);
  border-radius: 50%;
}
.custom-orange {
  color: var(--Orange);
}
.bg-offer {
  color: var(--Orange);
  font-size: 18px;
  background-color: var(--paleorange);
  padding: 3px 7px;
  border-radius: 7px;
}
.btn-default {
  background-color: #fff;
}
.input-group {
  width: unset;
  flex-wrap: nowrap;
}
.form-control {
  background-color: #f6f5fa;
  border: none;
  width: 65px;
  border-radius: 10px !important;
  font-weight: 700;
  font-size: 20px;
}
.add-cart {
  background-color: var(--Orange);
  padding: 7px 40px;
  outline: none;
  border: none;
  border-radius: 20px;
}
.card-image {
  border-radius: 10px;
  border: none;
  outline: none;
}
